{% extends 'base.html' %}

{% block title %}{{pet.name}} Details{% endblock %}

{% block content %}
<h1>{{pet.name}} Details:</h1>
<img src="{{pet.photo_url}}" alt="{{pet.name}} the {{pet.species}}">
{% if pet.availability == True %}
<p><em>Available!</em></p>
{% else %}
<p><em>Not available.</em></p>
{% endif %}
<p>Name: {{pet.name}}</p>
<p>Species: {{pet.species}}</p>
{% if pet.age != None %}
<p>Age: {{pet.age}}</p>
{% endif %}

<h2>Edit {{pet.name}} Details:</h2>
<form action="/{{pet.id}}" method="POST">
    {% for field in form %}
    <div>
        {{field.label}}
        {{field}}
        {% if field.errors %}
        {% for error in field.errors%}
        {{error}}
        {% endfor %}
        {% endif %}
    </div>
    {% endfor %}
    <button>Edit Pet</button>
</form>
<a href="/">Return To Pet List</a>
{% endblock %}